$font-primary 							  : Avengeance, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-primary-size-base       : 16px;
$font-primary-lineheight-base : 26px;

$font-secondary 							  : Avengero, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-secondary-size-base       : 16px;
$font-secondary-lineheight-base : 26px;