extends ../../../../../_templates/_test-page

block beforeHead
  - 
    contents = {
      title: "Conway's Game of Life",
      meta: {
        description: "Conway's Game of Life written in JavaScript",
      },
    }

block body
  h1 Conway's Game of Life

  main
    canvas#universe.show-in-percy