//- include mixins/_all
//- include ../components/_all


doctype html
html(lang='en')
	- 
		var contents = {
			meta: ''
		}; 
	block beforeHead

	head

		if environment == 'public'
			// Global site tag (gtag.js) - Google Analytics
			script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-32PSKZTQ57')
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'G-32PSKZTQ57');
			// End Global site tag (gtag.js) - Google Analytics


		title=contents.title
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		meta(name='description', content=contents.meta.description)
		meta(name='viewport', content='width=device-width, initial-scale=1')

		//- Facebook

		//- meta(property='og:title', content=contents.meta.title)
		//- meta(property='og:type', content='article')
		//- meta(property='og:url', content='Data To Be Inserterted Automatically')
		//- meta(property='og:image', content='http://sssk.sg/assets/images/sssk-logo.svg')
		//- meta(property='og:site_name', content='3SGK')
		//- //- meta(property='fb:admins', content='12 char app ID')
		//- //- meta(property='fb:app_id', content='15 char ID')
		//- meta(property='og:description', content=contents.meta.description)
		//- meta(property='og:article:published_time', content='ISO 8601 pubdate')

		//- Twitter

		//- meta(name='twitter:creator', content='@Username')
		//- meta(name='twitter:site', content='@WebsiteHandle')
		//- meta(name='twitter:card', content='summary|summary_large_image|app|player')
		//- meta(name='twitter:url', content='URL')
		//- meta(name='twitter:title', content=contents.meta.title)
		//- meta(name='twitter:description', content=contents.meta.description)
		//- meta(name='twitter:image:src', content='http://sssk.sg/assets/images/sssk-logo.svg')


		link(rel='shortcut icon', type='image/png', href=pathLadder + 'assets/images/favicons/favicon.ico')

		include partials/_styles

	body
		block body			
		
		include partials/_scripts
