extends _templates/_base

block beforeHead
  - 
    contents = {
      title: "Conway's Game of Life",
      meta: {
        description: "Conway's Game of Life written in JavaScript",
      },
    }

block body
  .CGOL-aurora
    .CGOL-aurora.--CGOL-inner
      main
        h1
          span
            span
              | Conway
              span '
              | s
          span Game of Life
        canvas#universe.show-in-percy