@font-face {
  font-family: 'Avengero';
  src: url('../fonts/avengero/Avengero.woff2') format('woff2'),
    url('../fonts/avengero/Avengero.woff') format('woff'),
    url('../fonts/avengero/Avengero.svg#Avengero') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avengeance';
  src: url('../fonts/avengeance/AvengeanceHeroicAvengerNormal.woff2') format('woff2'),
    url('../fonts/avengeance/AvengeanceHeroicAvengerNormal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  font-family: $font-primary;
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  position: relative;
  z-index: 0;
}

h1 {
  position: relative;
  font-size: 48px;
  color: #ffffff;
  margin: 0 0 28px 0;
  
  > span:first-child {
    position: absolute;
    top: -2px;
    left: 61px;
    font-family: $font-secondary;
    font-size: 12px;
    color: rgba(95, 105, 192, 1);

    span {
      span {
        display: table-caption;
        padding-left: 2px;
      }
    }
  }

  > span:last-child {
    display: flex;
    background: linear-gradient(0deg, rgba(85, 27, 96, 1) 5%, #4954bb 35%, #7b87f3 92%);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(-2px 2px 0px rgba(0, 0, 0, 0.2));
    letter-spacing: 3px;
    line-height: 1;
    padding: 18px 18px 0 18px;
    opacity: 0.7;
  }
}


/* .CGOL-aurora {
  background: linear-gradient(55deg, #244875 0%, #131d64 20%, #16285c 49%, #14082d 82%);
  background-size: 200%;
  animation: aurora 20s infinite;
  height: 100%;

  &.--CGOL-inner {
    background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
    background-size: 200%;
    animation: aurora 20s infinite;
    overflow: hidden;
  }
} */

.CGOL-aurora {
  background: linear-gradient(-45deg, #244875, #132964, #16285c, #14082d);
  // background: linear-gradient(-45deg, #258784, #453453, #16285c, #14082d);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  height: 100%;

  &.--CGOL-inner {
    display: flex;
    align-items: center;
    // background: linear-gradient(-45deg, #258784, #453453, #16285c, #14082d);
    background: linear-gradient(-45deg, rgba(37, 115, 135, 0.8), rgba(69, 52, 83, 0.8), rgba(22, 40, 92, 0.8), rgba(20, 8, 45, 0.8));
    background-size: 400% 400%;
    animation: gradientBG2 15s ease infinite alternate-reverse;
  }
}

.CGOL-control-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

[data-cgol-controller-group] {
  display: flex;

  button + button {
    margin-left: 16px;
  }
}

[data-cgol-controller] {
  position: relative;
  border: none;
  padding: 4px 9px 4px 8px;
  background: none;
  color: #1c2750;
  outline: none;
  font-family: $font-secondary;

  &.-GOL-is-active:before,
  &:active:before {
    box-shadow:
      inset -1px 1px 0 rgba(0, 0, 0, 0.2),
      inset 1px -1px 0 rgba(255, 255, 255, 0.1);
  }

  &.-GOL-is-active .CGOL-controller__icon,
  &:active .CGOL-controller__icon {
    position: absolute;
    top: 4px;
    padding: 1px 0 0 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(159, 178, 234, 0.3);
    border-radius: 2px;
    box-shadow:
      inset -1px 1px 0 rgba(255, 255, 255, 0.2),
      -1px 1px 0 rgba(0, 0, 0, 0.2);
    transform: skew(-12deg);
    z-index: -1;
  }
}

/* @keyframes aurora {
  0% {
    background-position: left top;
  }

  25% {
    background-position: right top;
  }

  50% {
    background-position: right bottom;
  }

  75% {
    background-position: left bottom;
  }

  100% {
    background-position: left top;
  }
} */

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBG2 {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}