if environment === 'dev'
  link(rel='stylesheet' href=pathLadder + 'assets/styles/main.css' type='text/css')
else
  link(rel='stylesheet' href=pathLadder + 'assets/styles/main.min.css' type='text/css')
